@import '../../style/base.less';

.home{
  :global{
    .am-drawer{
      margin-top: 45px;
    }
    .am-drawer-draghandle{
      width:1px !important;
    }
  }
}

.sidebarList{
  height: 100vh;
  width: 150px;
  background-color: #fff;
  overflow: hidden;
  :global{
    .subList-hidden{
      display: none;
    }
    .injected-svg{
        width: 16px;
        height: 16px;
    }
    .navActive{
      .listItem{
        color:@blue;
        background-color: antiquewhite;
      }
      .injected-svg path{
          fill:@blue;
      }
    }
    .listItem{
      padding: 20px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color:@black-text;
      .text{
        margin-left: 10px;
      }
      &:hover,&:active{
          color:@blue;
          background-color: antiquewhite;
        .injected-svg path{
            fill:@blue;
        }
      }
    }
    .username{
      margin: 30px 0 30px 20px;
      display: flex;
      align-items: center;
      .avatar{
        width: 50px;
        height: 50px;
        border-radius:50%;
        background-color: bisque;
        display: inline-block;
        margin-right: 8px;
      }
    }
  }
}

.notfound{
  position: fixed;
  top:0;
  left: 0;
  color:#fff;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: cadetblue;
}